/**
* @desc         Library styles
* @name         Docsumentation
* @author       Fiona
* @tested       Chrome
* @requires     -
*/
/* ==========================================================================
   Layout
   ========================================================================== */
/* line 13, ../../src/components/doc.scss */
#docNavTrigger {
  text-align: right;
}
/* line 16, ../../src/components/doc.scss */
#docNavTrigger button {
  padding: 5px 15px;
  background: #666;
  color: #fff;
  text-align: left;
  white-space: nowrap;
}

/* line 25, ../../src/components/doc.scss */
#docNavWrapper {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 31, ../../src/components/doc.scss */
#docNav {
  overflow: auto;
  margin-bottom: 10px;
  margin-right: -15px;
  padding-right: 15px;
}
/* line 37, ../../src/components/doc.scss */
#docNav li {
  margin-bottom: 3px;
}

/* line 42, ../../src/components/doc.scss */
#docNavInner {
  display: none;
  padding: 5px 15px;
  background: #eee;
  border-radius: 4px 0 4px 4px;
  border: 1px solid #666;
}
/* line 49, ../../src/components/doc.scss */
#docNavInner button {
  margin-bottom: 10px;
  display: table;
  margin: 5px auto;
}

/* line 58, ../../src/components/doc.scss */
.docNavActive #docNavInner {
  display: block;
}

/* line 64, ../../src/components/doc.scss */
.docNavFixed #docNavWrapperInner {
  position: fixed;
  top: 0;
  right: 0;
}

/* line 71, ../../src/components/doc.scss */
.docNavFixed {
  z-index: 20;
  position: fixed;
  top: 0;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.5);
}

/* ==========================================================================
   Headings
   ========================================================================== */
/* line 83, ../../src/components/doc.scss */
.docH2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 34px;
}

/* line 91, ../../src/components/doc.scss */
.docSection {
  margin: 0 0 30px;
}

/* ==========================================================================
   Table
   ========================================================================== */
/* line 99, ../../src/components/doc.scss */
.codeTable {
  margin: 16px 0;
  border: 1px solid #eee;
  border-bottom: 0;
  border-radius: 4px;
}
/* line 106, ../../src/components/doc.scss */
.codeTable table {
  width: 100%;
}
/* line 110, ../../src/components/doc.scss */
.codeTable thead tr th:first-child {
  width: 20%;
}
/* line 115, ../../src/components/doc.scss */
.codeTable th,
.codeTable td {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
/* line 122, ../../src/components/doc.scss */
.codeTable thead th,
.codeTable td {
  border-left: 1px solid #eee;
}

/* ==========================================================================
   Grids
   ========================================================================== */
/* shows grid lines and sizes in docs */
/* line 132, ../../src/components/doc.scss */
.demo .line {
  margin-top: 21px;
  margin-bottom: 21px;
}

/* line 137, ../../src/components/doc.scss */
.demo .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

/* line 149, ../../src/components/doc.scss */
.hideCode .docCode,
.hideDesignNotes .docDesignNotes {
  display: none !important;
}

/* line 153, ../../src/components/doc.scss */
.col > .code {
  margin-top: 0;
  margin-bottom: 0;
}

/* ==========================================================================
   Swatch
   ========================================================================== */
/* line 162, ../../src/components/doc.scss */
.docSwatch {
  min-height: 218.25px;
  border: 1px solid #ccc;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/* line 171, ../../src/components/doc.scss */
.listDocContainer {
  padding: 10px;
}
